<div class="auth-page">
  <div class="auth-card">
    <form (ngSubmit)="login()">
      <h2>Alma Lab</h2>

      <input type="text"
             placeholder="Логин"
             [(ngModel)]="form.username"
             name="username"
             required>

      <input type="password"
             placeholder="Пароль"
             [(ngModel)]="form.password"
             name="password"
             required>

      <button type="submit" class="login-btn">Войти</button>

      <p class="link" *ngIf="false">
        <a routerLink="/register">Регистрация нового пользователя</a>
      </p>

      <p class="error" *ngIf="error">{{ error }}</p>
    </form>

    <div class="guest-login-container">
      <div class="divider">
        <span>ИЛИ</span>
      </div>

      <div class="guest-form">
        <h3>Просмотр документов</h3>
        <p class="subtitle">Введите название организации</p>

        <div class="input-group">
          <input
            type="text"
            [(ngModel)]="guestOrgName"
            name="guestOrg"
            placeholder="Например: ИП Айсберг"
            (keyup.enter)="onGuestLogin()"
          >
          <button type="button" class="guest-btn" (click)="onGuestLogin()">
            Войти как гость
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
