<div class="verify-wrapper">
  <div class="verify-card" *ngIf="docInfo; else errorBlock">
    <div class="status-header success">
      <div class="icon-circle">✓</div>
      <h1>Документ подтвержден</h1>
      <p class="org-name">AlmaLab Medical Systems</p>
    </div>

    <div class="doc-details">
      <div class="detail-row">
        <span class="label">Файл:</span>
        <span class="value">{{ docInfo.filename }}</span>
      </div>
      <div class="detail-row">
        <span class="label">ID системы:</span>
        <span class="value">#{{ docInfo.id }}</span>
      </div>
      <div class="detail-row">
        <span class="label">Статус:</span>
        <span class="value">{{ docInfo.status }}</span>
      </div>
    </div>

    <div class="signature-timeline" *ngIf="docInfo && docInfo.signatures">
      <h3>История подписей</h3>

      <ng-container *ngFor="let sig of docInfo.signatures; let i = index">

        <div class="timeline-item" *ngIf="sig.signerFullName || sig.fullName">

          <div class="dot" [ngClass]="i === 0 ? 'green' : 'blue'"></div>

          <div class="time-content">
            <p class="signer">
          <span class="role-label">
            <ng-container [ngSwitch]="sig.signerRole || sig.role">
              <span *ngSwitchCase="'USER'">Специалист</span>
              <span *ngSwitchCase="'ADMIN'">Заведующая лабораторией</span>
              <span *ngSwitchCase="'SUPERADMIN'">Руководитель организации</span>
              <span *ngSwitchDefault>Сотрудник</span>
            </ng-container>
          </span>

              <strong> {{ sig.signerFullName || sig.fullName }}</strong>
            </p>

            <p class="action">Подписано</p>
            <p class="timestamp">{{ (sig.signedAt || sig.createdAt) | date:'dd.MM.yyyy HH:mm' }}</p>
          </div>
        </div>

      </ng-container>
    </div>
  </div>

  <ng-template #errorBlock>
    <div class="verify-card error-card">
      <div class="status-header fail">
        <div class="icon-circle">!</div>
        <h1>Ошибка проверки</h1>
        <p>Документ не найден или еще загружается...</p>
      </div>
    </div>
  </ng-template>
</div>
